* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar  */

.header {
    backdrop-filter: blur(8px);
}

.nav_heading {
    font-size: 30px;
    color: #008efb;
}
.nav_heading_span{
    font-size: 30px;
    color: black;
}

.navbar_link {
    text-decoration: none;
    color: black;
}

/* navbar  ends */

/* block1  */

.block1{
    background: linear-gradient(rgba(0,0,0,.025),rgba(0,0,0,.025)),url('https://static.vecteezy.com/system/resources/previews/017/398/144/non_2x/healthcare-services-annual-health-checkup-heart-rate-pulse-measurement-pills-antibiotics-dna-diseases-genes-illustration-on-light-blue-hexagonal-background-health-and-medicine-concept-vector.jpg');
    background-size: cover;
    background-position: center;
    padding-bottom: 60px;
}

.block1 {
    padding-top: 0px;
}

.block1_fom {
    box-shadow: 4px 0px 5px rgb(197, 196, 196);
    border-radius: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.block1_heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.block1_text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    backdrop-filter: blur(12px);
    box-shadow: 0 0 1px white;
    padding: 10px;
}
.block1_subheading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* block1 ends */

/* block 2  */

.block2 {
    margin-top: 10px;
}

.block2_text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.block2_heading {
    font-size: 55px;
}

.block2_image {
    background-image: url('https://static.vecteezy.com/system/resources/previews/041/467/401/original/wellness-checkup-on-white-background-vector.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    border-radius: 7px;
}

/* block2 ends  */

.white {
    color: white;
}

.logo {
    max-width: 180px;

}

.image2 {
    background-image: url("https://static.vecteezy.com/system/resources/previews/010/719/367/non_2x/people-living-a-healthy-lifestyle-vector.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    border-radius: 7px;
}

.decoration {
    text-decoration: none;
}