{% extends 'index.html' %}
{% load static %}

{% block content %}

<div class="container" style="margin-top: 50px; ">
    <h1 class="text-center"> Today's Food summary </h1>
    <table class="table table-hover border">
        <tr>
            <th>Food</th>
            <th>Quantity</th>
            <th>Calories Gained</th>
        </tr>
        <tbody>
            {% for i in datas %}
            <tr>
                <td>{{ i.food.name }}</td>
                <td>{{ i.quantity }}</td>
                <td>{{ i.total_calories }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td>Total Calories</td>
                <td>{{ totalcalorie_today }}</td>
            </tr>
        </tbody>
    </table>
</div>
<form action="" method="post" class="text-center">
    {% csrf_token %}
    {{form}}
    <button type="submit">Submit</button>
</form>
<div class="container" style="margin-top: 50px; margin-bottom: 200px;">
    <h1>Calculate with DateRange</h1>
    <table class="table table-hover border">
        <th>Date</th>
        <th>Food</th>
        <th>Quantity</th>
        <th>Calories Gained</th>
        <tbody>
            {% for i in data_range %}
            <tr>
                <td>{{ i.created_date }}</td>
                <td>{{ i.food.name }}</td>
                <td>{{ i.quantity }}</td>
                <td>{{ i.total_calories }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td>Total Calorie </td>
                <td>{{ total_calorie_range }}</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock content %}