{% extends 'profile_update.html' %}
{% load static %}

{% block content %}

<style>
    .scrollable-column {
        max-width: 180px;
    }

    .scrollable-content {
        max-height: 100px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .scroll {
        max-height: 490px;
        overflow-y: auto;

    }

    .content {
        width: 100%;
        border-collapse: collapse;
    }

    .content tr th {
        position: sticky;
        top: 0;
        background-color: black;
        color: white;
        z-index: 1;
    }
</style>

<div class="container mt-3 mb-3">
    <div class="row ">
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="">
                <h2 class="text-center pb-2">Add Your Sleep Records</h2>
                <form action="" method="post">
                    {%csrf_token%}

                    {{form.as_p}}
                    <div class="d-flex gap-1">
                        <button class="btn btn-dark w-50" type="reset">Reset</button>
                        <button class="btn btn-dark w-50" type="submit">Enter</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12 col-12 scroll mt-5">
            <table class="table table-striped-primary content">
                <tr>
                    <th class="text-center">Sleeping Time</th>
                    <th class="text-center">Waking Time</th>
                    <th class="text-center">Notes</th>
                    <th class="text-center">Update</th>
                    <th class="text-center">Delete</th>
                </tr>
                <tbody>
                    {%for i in data%}
                    <tr>
                        <td class="text-center">{{i.sleep_start_time}}</td>
                        <td class="text-center">{{i.sleep_end_time}}</td>
                        <td class="scrollable-column text-center">
                            <div class="scrollable-content">{{i.notes}}</div>
                        </td>
                        <td class="text-center"><a href="{%url 'updatesleep' i.id%}"><i
                                    class="fa-solid fa-pen-to-square" style="color: black;"></i></a></td>
                        <td class="text-center"><a href="{%url 'deletesleep' i.id%}"><i class="fa-solid fa-trash "
                                    style="color: red;"></i></a></td>
                    </tr>
                </tbody>
                {%endfor%}
            </table>
        </div>
    </div>
    </div>

    {% endblock content %}
